<div>
  <h2 class="text-center">
    <%= email.object %>
  </h2>
    <hr><br>
  <p>
    <%= email.body %>
  </p>
  <br>
  <div class="row">
      <button class="col-sm btn-info">Marquer comme non-lu</button>
      <button class="col-sm btn-danger"><%= link_to "Supprimer", email_path(email.id), method: :delete, :class => "text-light" %></button>
  </div>

</div>