<h6 id="object-<%= email.id %>">
  <% if email.read === false %>
    <%= link_to "#{email.object}", email_path(email.id), remote: true %>
  <% else %>
    <%= link_to "#{email.object}", email_path(email.id), remote: true, :class => "text-dark" %>
  <% end %>
</h6>