<h1 class="text-center title"><strong><u>Emails</u></strong></h1>
<br><br>
<div class=text-center>
    <button>
      <%= link_to "Recevoir un email", email_index_path, method: :post, remote: true %>
    </button>
</div>
<br><br>
<div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <h2>Objet</h2>
        <br>
        <ul>
          <% @emails.each do |email| %>
            <h4><%= email.object %></h4>
          <% end %>
        </ul>
      </div>

      <div class="col-sm">
        <h2>Contenu</h2>
        <br>
      </div>
    </div>
  </div>